<html ng-app="league_app">
    <head>
        <title>Riot API Challenge="support tag from-rainbow"></title>
        <!-- require angular -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <style>

        body {
          font: 12px sans-serif;
          background-color: LightBlue;
        }

        .chord path {
          fill-opacity: .79;
        }

        </style>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/moment.min.js"></script>
        <meta charset="utf-8"/>


        <script src="/js/d3.js"></script>
        <script src="/js/chord.js"></script>
        <script>
            // Lets create our angular module
            var league_app = angular.module('league_app', []);
            // create the FriendFactory
            league_app.factory('LeagueFactory', function ($http) {
                var factory = {};
                var pick_data = [];
                var champion_data = [];
                var match_data = [];
                var counter_data = [];
                // lets edit our angular factory's getFriends method as follows
                factory.getPicks = function (callback) {
                    // Where do we get access to $http?
                    $http.get('/pick_data').success(function (output) {
                        pick_data = output;
                        // console.log(pick_data);
                        callback(pick_data);
                    })
                }
                factory.getCounters = function (callback) {
                    // Where do we get access to $http?
                    $http.get('/counter_data').success(function (output) {
                        counter_data = output;
                        //console.log(counter_data);
                        callback(counter_data);
                    })
                }
                factory.getChampions = function (callback) {
                    // Where do we get access to $http?
                    $http.get('/champion_data').success(function (output) {
                        champion_data = output;
                        //console.log(counter_data);
                        callback(champion_data);
                    })
                }
                return factory;
            });
            // Now lets create a controller with some hardcoded data!
            league_app.controller('LeagueController', function ($scope, LeagueFactory) {
                $scope.pick_data = LeagueFactory.getPicks(function (data) {
                    //d3js starts here
                    //runD3(data);
                    $scope.total_picks = data.total_picks;
                    var pick_data = data.pick_data;
                    var pick_array = [];
                    for (var pick in pick_data)
                    {
                        pick_array.push(pick_data[pick]);
                    }
                    //console.log(pick_array);
                    $scope.pick_data = pick_array;
                    //$scope.champ_names = data.champ_names;
                });
                $scope.champion_data = LeagueFactory.getChampions(function (data) {
                    $scope.champion_data = data.champion_data;
                });
                $scope.counter_data = LeagueFactory.getCounters(function (data) {
                    //d3js starts here
                    //runD3(data);
                    //$scope.total_picks = data.total_picks;
                    var counter_data = data.counter_data;
                    var counter_array = [];
                    for (var champion in counter_data)
                    {
                      var champArray = [];
                      for (var counter in counter_data[champion])
                      {
                        champArray.push(counter_data[champion][counter]);
                      }
                      counter_array.push(champArray);
                    }
                    //console.log(counter_array);
                    //console.log($scope.champion_data);
                    createChord(counter_array, $scope.champion_data);
                    //$scope.counter_data = counter_array[0];
                    //$scope.champ_names = data.champ_names;
                });
            })
        </script>
    </head>
    <!-- everything in the body is going to use the friends controller (this gives us access to the friends controller $scope) -->

    <body id='viz'>
        <div class="container" ng-controller='LeagueController'>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="display">Welcome to our Riot API Challenge Entry</h1>
                </div>
                <div class="chord">
                </div>
                <table class='table'>
                    <!-- <tr>
                        <th>Champion Name</th>
                        <th>Times picked</th>
                        <th>As percentage of overall picks</th>
                    </tr>
                    <tr ng-repeat='pick in pick_data | filter:filter_name | orderBy:"-picks"'>
                        <td ng-bind='pick.name'></td>
                        <td ng-bind='pick.picks'></td>
                        <td ng-bind='pick.picks / total_picks * 100'></td>
                    </tr> -->
                  <!--   <tr>
                        <th>Champion Name</th>
                        <th>Times picked</th>
                        <th>As percentage of overall picks</th>
                    </tr> -->
                    <!-- <tr ng-repeat='counter in counter_data | filter:filter_name | orderBy:"-wins_against"'>
                        <td ng-bind='counter.name'></td>
                        <td ng-bind='counter.wins_against'></td>
                        <td ng-bind='counter.wins_against / total_picks * 100'></td>
                    </tr> -->
                </table>
            </div>
        </div>
    </body>
</html>
