<html ng-app="league_app">
    <head>
        <title>Riot API Challenge="support tag from-rainbow"></title>
        <!-- require angular -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/moment.min.js"></script>
        <meta charset="utf-8"/>

        <script>
        //$('.spinner').hide();

            var CONST_MATCHES_TO_SCAN = 50;
            var CONST_WINDOWS_TO_FETCH = 288;

            // Lets create our angular module
            var league_app = angular.module('league_app', []);
            league_app.filter('orderObjectBy', function(){
             return function(input, attribute) {
                if (!angular.isObject(input)) return input;

                var array = [];
                for(var objectKey in input) {
                    array.push(input[objectKey]);
                }

                array.sort(function(a, b){
                    a = parseInt(a[attribute]);
                    b = parseInt(b[attribute]);
                    return a - b;
                });
                return array;
             }
            });
            // create the LeagueFactory
            league_app.factory('LeagueFactory', function ($http) {
                var factory = {};
                var pick_data = [];
                var champion_data = [];
                var match_data = [];
                var matchIDCounter = 0;
                var matchDataCounter = 1;
               factory.getPicks = function (callback) {
                    $http.get('/pick_data').success(function (output) {
                        pick_data = output;
                        // console.log(pick_data);
                        callback(pick_data);
                    })
                }
                factory.postMatchData = function (callback) {
                    $('.spinner').show();
                    $http.get('/store_match_data_in_db').success(function (output) {
                        //pick_data = output;
                        // console.log(pick_data);
                        //callback(output);
                        callback("Loaded match " + matchDataCounter + " of " + CONST_MATCHES_TO_SCAN + " ");
                        matchDataCounter++;
                    })
                }
                factory.getMatchIDs = function (time, callback) {
                    $('.spinner').show();
                    var newTime = matchIDCounter + time;
                    matchIDCounter += 300;
                    $http.get('/get_match_ids/' + newTime).success(function (output) {
                        //pick_data = output;
                        // console.log(pick_data);
                        callback(output);
                    })
                }
                factory.resetCounters = function()
                {
                    matchIDCounter = 0;
                    matchDataCounter = 1;
                }
                factory.migrate = function (callback) {
                    // Where do we get access to $http?
                    $('.spinner').show();
                    $http.get('/migrate').success(function (output) {
                        //pick_data = output;
                        // console.log(pick_data);
                        callback(output);
                    })
                }
                factory.migrateChamps = function (callback) {
                    // Where do we get access to $http?
                    $('.spinner').show();
                    $http.get('/migrate_champs').success(function (output) {
                        //pick_data = output;
                        // console.log(pick_data);
                        callback(output);
                    })
                }
                return factory;
            });
            // create the leagueController
            league_app.controller('LeagueController', function ($scope, LeagueFactory) {
                $scope.pick_data = LeagueFactory.getPicks(function (data) {
                    //d3js starts here
                    //runD3(data);
                    var pick_data = data.pick_data;
                    var pick_array = [];
                    for (var pick in pick_data)
                    {
                        pick_array.push(pick_data[pick]);
                    }
                    //console.log(pick_array);
                    $scope.pick_data = pick_array;
                    //$scope.champ_names = data.champ_names;
                });
                $scope.postMatchData = function()
                {
                    var timeout = 0;
                    LeagueFactory.resetCounters();
                    for (var i = 0;i<CONST_MATCHES_TO_SCAN;i++)
                    {
                        setTimeout(function(){LeagueFactory.postMatchData(function (data) {
                            $('.spinner').hide();
                            $('.data').append(data);
                            //console.log(data);
                            });
                        },timeout);
                        timeout += 25000;
                    }
                }
                $scope.getMatchIDs = function()
                {
                    var startTime = '2015-04-' + $('#sday').val() + ' ' + $('#shour').val() + ':' + $('#sminute').val();
                    startTime = moment(startTime).unix();
                    console.log(startTime);
                    LeagueFactory.resetCounters();
                    var timeout = 0;

                    for (var i=0;i<CONST_WINDOWS_TO_FETCH;i++)
                    {
                        setTimeout(function() {LeagueFactory.getMatchIDs(startTime, function(data)
                            {
                                $('.spinner').hide();
                                console.log(data);
                            });
                        },timeout);
                        timeout += 1500;
                    }
                }
                $scope.migrate = function()
                {
                    LeagueFactory.migrate(function (data) {
                        $('.spinner').hide();
                        console.log(data);
                    });
                }
                $scope.migrateChamps = function()
                {
                    LeagueFactory.migrateChamps(function (data) {
                        $('.spinner').hide();
                        console.log(data);
                    });
                }
            })
        </script>
    </head>
    <!-- everything in the body is going to use the league controller (this gives us access to the league controller $scope) -->

    <body id='viz' ng-controller='LeagueController'>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="display">Riot API Fetch Testing Ground</h1>
                </div>
            </div>
            <span class='spinner' style='visibility:hidden'><img id='loader-main' src='/img/loading.gif'></span>
            <div class="data" style="height:500px; border:1px solid black; overflow-y:scroll;">
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form>
                        <h1>Click to get match data</h1>
                        <!-- <button class="match-data btn btn-info" type="submit">Go!</button> -->
                        <button class="match-data btn btn-info" type="submit" ng-click='postMatchData()'>Go!</button>
                    </form>
                </div>
            </div>
            <div class ="row">
                <div class='col-md-8 col-md-offset-2'>
                    <form>
                        <h1>Fill out forms to get match IDs</h1>
                            <input id='sday' type='text' name='shour' placeholder='enter start day'>
                            <input id='shour' type='text' name='shour' placeholder='enter start hour'>
                            <input id='sminute' type='text' name='sminute' placeholder='enter start minute'>
                        <button class="test btn btn-info" type="submit" ng-click='getMatchIDs()'>Go!</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form>
                        <h1>Click to get migrate sql to mongo</h1>
                        <!-- <button class="match-data btn btn-info" type="submit">Go!</button> -->
                        <!-- <button class="match-data btn btn-info" type="submit" ng-click='migrateChamps()'>Go!</button> -->
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
